body{
    background-color: rgba(0, 67, 252, 0.37);
}
header{
    max-width: 500px;
    margin: auto;
    text-align: center
}

header h1,h2{
    background-color: rgba(0, 67, 252, 0.377);
    border-radius: 6px;
    padding: 10px;
}

header p {
    text-align: justify;
}