body{
    max-width: 450px;
    margin: auto;
    border-style: groove;
    border-radius: 6px;
    box-shadow: 1px 1px 10px black;
    padding: 20px;
    background-color: rgba(211, 236, 241, 0.692);
}
h1{
    
    text-align: center;
    background-color: rgba(137, 218, 238, 0.692);
    border-radius: 6px;
    padding: 25px;
}
p{
    text-align: justify;
    text-align: center;

}

.data_atual{

    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
}
.minuto_atual{
    margin-top: 0px;
    text-align: center;
    background-color: rgba(137, 218, 238, 0.692);
    border-radius: 0px 0px 6px 6px;
    padding: 10px;
    font-style: italic;

}